.config/gh
lazy-lock.json
*.pyc
btop.log
.config/obsidian
.config/neofetch
.profile
.config/btop/btop.conf
.config/btop/btop.log
.config/go
.cargo
!.cargo/config.toml
.config/nushell/history.txt
.config/mlflow/telemetry.json
.config/nushell/history.sqlite3
.config/nushell/history.txt.bak
.config/pgcli/config
.config/pgcli/log
